- const comm = { postedByAdmin: true, date: '12/12/12', author: 'Mike Velasco', text: 'Este tutorial de Pug me gustó mucho.'}
- const comm2 = { date: '01/11/18', author: 'Clara', text: 'Gracias por el tuto. :)'}
        
    +comment(comm)
    +comment(comm2)