doctype html

html
    head
    body
        h1 Welcome to Pug!
        p.
            This is a paragraph tag 
            and this is the new line
        
        ul
            li First Item
            li Second Item