doctype html

html
    head
    body
        h1#pageTitle Welcome to Pug!
        p.big-paragraph.
            This is a paragraph tag 
            and this is the new line            
        p.big-paragraph.
            This is a paragraph tag 
            and this is the new line        
        ul
            li First Item
            li Second Item
        
        // - Pug will render this type of selector like a div (default).
        .display-box
        #myOnlyDiv